{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.image.url }}" height="300px" width="300px">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.pub_date|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.author}}</a></h2>
            <p class="article-content">{{ post.caption }}</p>
          </div>
          <a class="mr-2" href="{% url 'comment' post.id %}">Comment</a>
        </article>
    {% endfor %}
{% endblock content %}